{% extends "cinema/base.html" %}

{% block content %}
	
	<p>Filmes</p>

	<ul>
		{% for filme in filmes %}
			<li>{{filme.name}}</li>
			<li>{{filme.description}}</li>
			<li>{{filme.genre}}</li>
			<li>{{filme.duration}}</li>
			{% for sala in salas %}
				{% if filme.id == sala.filme.id %}
					<p>{{sala.name}}</p>
				{% endif %}
			{% endfor %}

			{% for sessoes in sessao %}
				{% if filme.id == sessoes.filme.id %}
					<p>{{sessoes.time}}</p>
				{% endif %}
			{% endfor %}


		{% empty %}
			<li>Não há filmes cadastrados</li> 
		{% endfor %}

	</ul>
{% endblock content %}

